<div class="container">
    <div class="card">
       <div class="card__image-container">
         <img class="card__image" src="assets/xxx.jpg" style="width: 150%" alt="">
      </div>
  
       <div class="card__content">
        
        <div>
          <h1 href="www.pedroassunca.xyz" class="card__title">About me</h1>
   
        </div>
  
        <hr>
  
       <div class="buttns">
        <h4>I'm Pedro and I'm 21 years old.</h4>
        <h4>I have been studying programming since 2018, I started studying in high school with a programming 
          course and at the moment I am attending a 2-year CTESP of web programming at the university with equivalents 
          to a degree in computer engineering.</h4>
          <h4>I studied HTML, CSS, JavaScript, Php, Sass, TypeScript, ReactNative, Java, C and C# as 
            programming languages ​​and I have knowledge in Bootstrap and Angular frameworks.</h4>
  
       </div>
  
       <hr>
  
       <div class="card_footer">
        <li class="icon-item">
          <a class="back" routerLink="/home">Voltar</a> <br>
        </li>   
        </div>
  
      </div>
      
    </div>
    
  </div>
  
  