<div class="container">
    <div class="card">
       <div class="card__image-container">
         <img class="card__image" src="assets/xxx.jpg" style="width: 150%" alt="">
      </div>
  
       <div class="card__content">
        
        <div>
          <h1 href="www.pedroassunca.xyz" class="card__title">About me</h1>
   
        </div>
  
        <hr>
        
        <div style="margin-bottom: 15px;">

        <h5>I code since 2018, I started in high school with a programming course and at the moment I 
          am attending a 2-year CTESP of web programming at the university with equivalents to a degree in computer engineering.</h5>
          
        </div>

       <div class="buttns">
        <h5>Academic career </h5>
        <div class="dir">

           

        <div class="esq">
          <ul class="check-list1">
            <li>Secondary school - Technical Professional Course in Management and Programming of Computer Systems (2018)</li>
            <li>University - <a style="color: rgb(151, 151, 151);" target="_blank" href="https://www.iseclisboa.pt/index.php/pt/cursos/ctesp/o-que-e-um-ctesp"> CTeSP</a> Web Programming, Devices and Mobile Applications (2021)</li>

          </ul>

        </div></div>

        
        <div class="dir">


        <div class="dirdentro">

        <div class="buttnsdir">
          <ul class="check-list">
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Php</li>
            <li>React Native</li>
          </ul>
        </div>

       
        
        <div class="buttnsdir">
          <ul class="check-list">
            <li>Bootstrap</li>
            <li>TypeScript</li>
            <li>Java</li>
            <li>C</li>
            <li>C#</li>
            <li>Node.JS</li>
          </ul>
        </div>
      </div>

      </div>

       </div>
  
       <hr>
  
       <div class="card_footer">
        <li class="icon-item">
          <a class="back" routerLink="/home">Voltar</a> <br>
        </li>   
        </div>
  
      </div>
      
    </div>
    
  </div>
  
  