<div class="container">
    <div class="card">
       
  
       <div class="card__content">
        
        <div>
          <h1 href="www.pedroassunca.xyz" class="card__title" >About me</h1>
   
        </div>
  
        <hr style="margin-top: 0;">
        
        <div style="margin-bottom: 15px;">

        <h5>I code since 2018, I am an enthusiastic and detail-oriented junior front-end developer with some knowledge in HTML, CSS, JavaScript and also in 
          React Native and in backend I have knowledge in Java and also in Php, SQL, C# and C, as well as third-party libraries such as, Angular and Bootsrap.</h5>
          <h5>I seek to use my technical skills and experience to add value to the employer and contribute to successful projects today and in the future. 
          Aiming to take on new challenges and utilize my coding and debugging skills to develop new features and enhance the overall user experience.</h5>
          
        </div>

       <div class="buttns">
        <h5>Academic career </h5>
        <div class="dir">

           

        <div class="esq">
          <ul class="check-list1">
            <li>Secondary school - Technical Professional Course in Management and Programming of Computer Systems (2018)</li>
            <li>University - Bachelor's Degree in Web Programming, Devices and Mobile Applications (2021)</li>
            <li>Academia de Código Programming Bootcamp - Full-Stack Developer (2023)</li>
          </ul>

        </div></div>

        
        <div class="dir">


        <div class="dirdentro">

        <div class="buttnsdir">
          <ul class="check-list">
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Php</li>
            <li>React Native</li>
          </ul>
        </div>

       
        
        <div class="buttnsdir">
          <ul class="check-list">
            <li>Bootstrap</li>
            <li>TypeScript</li>
            <li>Java</li>
            <li>C</li>
            <li>C#</li>
            <li>SQL</li>
          </ul>
        </div>
      </div>

      </div>

       </div>
  
       <hr>
  
       <div class="card_footer">
        <li class="icon-item">
          <a class="back" routerLink="/home">Voltar</a> <br>
        </li>   
        </div>
  
      </div>
      
    </div>
    
  </div>
  
  
