<div class="container">
  <div class="card">
     <div class="card__image-container">
       <img class="card__image" src="assets/x.jpg" alt="">
    </div>

     <div class="card__content">
      
      <div>
        <h1 href="www.pedroassunca.xyz" class="card__title">Projects</h1>

      </div>

      <hr>

     <div class="buttns">

     <a class="btna" target="_blank" href="http://www.pedroassuncao.xyz/Blackoutgym/index.html">Gym</a><p style="margin-bottom: 0% !important;"></p>
     
     <a class="btna" target="_blank" href="http://www.pedroassuncao.xyz/PigGame/index.html">Game #1 </a>

     <a class="btna" target="_blank" href="http://www.pedroassuncao.xyz/GuessGame/index.html">Game #2</a>

     <a class="btna" target="_blank" href="http://www.pedroassuncao.xyz/restaurante%20do%20pedrini/index.html">Restaurant</a><p style="margin-bottom: 0% !important;"></p>

     

     </div>

     <hr>

     <div class="card_footer">
      <li class="icon-item">
        <a class="back" routerLink="/home">Voltar</a> 
      </li>  
      </div>

    </div>
    
  </div>
</div>