<div class="container">
  <div class="card">
     <div class="card__image-container">
       <img class="card__image" src="assets/x.jpg" alt="">
    </div>

     <div class="card__content">
      
      <div>
        <h1 href="www.pedroassunca.xyz" class="card__title">Projects</h1>

      </div>

      <hr style="margin-top: 0;">

     <div class="buttns">

     <a class="btna" target="_blank" href="/projectos/Blackoutgym/">Gym</a>
     
     <a class="btna" target="_blank" href="/projectos/PigGame/">Game #1 </a>

     <a class="btna" target="_blank" href="/projectos/GuessGame/">Game #2</a>

     <a class="btna" target="_blank" href="/projectos/restaurante do pedrini/">Restaurant</a>

     <a class="btna" target="_blank" href="/projectos/pedromarket/">Online Store</a> <p>&nbsp; developing...</p>

     </div>

     <hr>

     <div class="card_footer">
      <li class="icon-item">
        <a class="back" routerLink="/home">Voltar</a> 
      </li>  
      </div>

    </div>
    
  </div>
</div>
