<p>home works!</p>

<div class="container">
    <div class="card">
       <div class="card__image-container">
         <img class="card__image" src="/meus projetos/imagens/xx.jpg" alt="">
      </div>

       <div class="card__content">
        
        <div>
          <h1 href="www.pedroassunca.xyz" class="card__title">Portfolio</h1>
          <p>by pedro assunção</p> 
        </div>

        <hr class="shine">

       <div class="buttns">

       <a class="btna" href='#'>About me</a>
       <a class="btna" href='projects.html'>Projects</a>
       <a class="btna" onclick="window.open('curriculum.pdf')" href='#'>Curriculum Vitæ</a>

       </div>

       <hr class="shine">

       <div class="card_footer">
        <li class="icon-item">
          <a target="_blank" href="https://www.linkedin.com/in/pedro-assun%C3%A7%C3%A3o-0b1723229/" class="icon-link"><i class="fab fa-linkedin-in"></i></a>
        </li>  
        </div>

      </div>
      
    </div>
  </div>
